dt{
	margin-top:1rem;
	color: #3d4b5a;
	font-weight:700
}
dd{
	margin-left:1rem;
	margin-top:.2rem
}
.h5{
	font-size: 1.11rem;
	font-weight:bold;
	margin-bottom:1.5rem
}
.h6{
	font-size: 1rem
}
.hint-box{
	padding:1rem;
	border-radius:5px;
	border: 0.5px solid #a2bfdf
}
.hint-box-title{
	border-bottom: 1px solid #a2bfdf;
	color: #022c48;
	padding-bottom: 0.5rem;
	padding-top: 0.2rem
}
.hint-field-name{
	font-size: .9rem
}

